<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion-Bootstrap</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/stylesComponentes.css" type="text/css" />
    
    
</head>
<body>

    <div class="acordeon">

        <section id="acordeon ">
            <div class="row  descripcion-1">
        
                <h1 class="bg-secondary bg-gradient col-12 col-md-12 d-flex justify-content-center align-items-center">Accordion</h1>
                <div class=" d-flex flex-column justify-content-center">

                    <h2 class="d-flex justify-content-center align-items-center mx-5 bg-info bg-gradient" style="height: 65px">Descripción</h2>
                    <p class="col-12 col-md-12 p-4 fs-3 d-flex text-center mx-auto w-50">
                        El Accordion es un elemento que colapsa verticalmente para mostrar y ocultar elementos por medio
                        de clases.
                    </p>


                </div>
                
        
        
            </div>
        </section>

        <div class="row  gx-5" >
            <div class="d-flex flex-column">
                <div class="titulo-acord mx-auto mb-3 w-50 d-flex justify-content-start">
                
                    <h2>Buenas Películas</h2>
                
                </div>
                
                
                <div class="accordion col-12 col-md-12 mx-auto border w-50" id="accordionExample">
                    <div class="accordion-item ">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Misión Imposible: Protocolo Fantasma
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Misión imposible: Protocolo fantasma (título original en inglés, Mission: Impossible - Ghost
                                    Protocol) es una película
                                    de acción dirigida por Brad Bird y protagonizada por Tom Cruise. Escrita por André Nemec y Josh
                                    Appelbaum y producida
                                    por J.J. Abrams, Cruise y Bryan Burk, la película se estrenó en 2011, el 9 de diciembre en España y
                                    el 16 de diciembre
                                    en Estados Unidos. Es la cuarta película de la serie Misión imposible.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Batman: El caballero de la noche asciende
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>The Dark Knight Rises (El caballero oscuro: La leyenda renace en España y Batman: El caballero de la
                                    noche asciende en
                                    Hispanoamérica) es una película de superhéroes británico-estadounidense de 2012 dirigida, producida
                                    y coescrita por
                                    Christopher Nolan. Basada en el personaje Batman de DC Comics, la cinta es la tercera y última
                                    entrega de la serie
                                    fílmica Batman de Nolan, y la secuela de Batman Begins (2005) y The Dark Knight (2008). Christian
                                    Bale repite el papel
                                    principal de Bruce Wayne/Batman, junto con el mismo reparto de aliados: Michael Caine como Alfred
                                    Pennyworth, Gary
                                    Oldman como James Gordon, y Morgan Freeman como Lucius Fox. El filme introduce a Selina Kyle (Anne
                                    Hathaway), una
                                    ladrona astuta y moralmente ambigua, y Bane (Tom Hardy), un mercenario empeñado en destruir Gotham
                                    City y que fuerza a
                                    un Bruce Wayne más viejo a salir del retiro y volverse Batman nuevamente</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Contratiempo
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Contratiempo es una película española de suspenso y misterio escrita y dirigida por Oriol Paulo. Se
                                    estrenó el 6 de
                                    enero de 2017. La película se abrió con una tibia respuesta de la crítica, pero fue un éxito
                                    comercial, recaudando 30,5
                                    millones de dólares contra su presupuesto de 4 millones de euros.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>


            </div>
            
        
    <div class="contenedor-boton">

        <button class="boton" type="button">
            <a href="../index.html">
                Página Principal
        
            </a>
        </button>


    </div>
    
    
        
     
       





<script src="../bootstrap/js/bootstrap.bundle.js" type="text/javascript"></script>
</body>


</html>