<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts-Bootstrap</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/stylesComponentes.css" type="text/css" />


</head>

<body>

   

        
        <div class="row  descripcion-1" id="inicio">

            <h1 class="bg-secondary bg-gradient col-12 col-md-12 d-flex justify-content-center align-items-center "
                style="height: 100px;">
                Cards</h1>
            <div class=" d-flex flex-column justify-content-center">

                <h2 class="d-flex justify-content-center align-items-center  bg-info bg-gradient"
                    style="height: 65px">Descripción</h2>
                <p class="col-12 col-md-12 p-4 fs-3 d-flex text-center mx-auto w-50">
                    Cards de Bootstrap provee un contenido flexible y extensible de contenido para un
                    container con multiples variantes y opciones.
                </p>

            </div>
            <div class="row  d-column">

                <div class="alertas mx-auto mb-3  d-flex  justify-content-center bg-primary bg-light align-items-center" style="height: 100px;">

                    <h2>Cards</h2>
                    
                    
                </div>
                <div class="mx-5  d-flex justify-content-around">
                    <div>
                        <h2>Ejemplo 1</h2>

                    
                    
                        <div class="card" style="width: 18rem;">
                            <img src="../asserts/gI-img1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Soñada</h5>
                                <p class="card-text">Guitarra Ibanez buen diseño y sonido.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h2>Ejemplo 2</h2>
                    
                    
                    
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Pink Floyd</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Grupo Musical</h6>
                                <p class="card-text"></p>
                                <a href="https://es.wikipedia.org/wiki/Pink_Floyd" class="card-link">Hechos</a>
                                <a href="#inicio" class="card-link">Inicio</a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h2>Ejemplo 3</h2>
                        <p>Listas agrupadas</p>
                    
                    
                    
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Correr</li>
                                <li class="list-group-item">Nadar</li>
                                <li class="list-group-item">Andar en Bici</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h2>Ejemplo 4</h2>
                        <p>Con todos los componentes</p>
                    
                    
                    
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                                Guitarra Fender

                            </div>
                            <img src="../asserts/fender.jpg" class="card-img-top" alt="guitarra fender">
                            <div class="card-body">
                                <h5 class="card-title">Motivación</h5>
                                <p class="card-text">Se necesita mucha fuerza mental para cumplir tus metas</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Estudiar</li>
                                <li class="list-group-item">Componer</li>
                                <li class="list-group-item">Trabajar</li>
                            </ul>
                            <div class="card-body">
                                <a href="https://www.fender.com/es/start" class="card-link">Fender</a>
                                <a href="#inicio" class="card-link">Inicio</a>
                            </div>
                            <div class="card-footer text-muted">
                                Despedida

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>







        <div class="contenedor-boton">

            <button class="boton" type="button">
                <a href="../index.html">
                    Página Principal

                </a>
            </button>


        </div>










        <script src="../bootstrap/js/bootstrap.bundle.js" type="text/javascript"></script>
</body>


</html>