<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress-Bootstrap</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/stylesComponentes.css" type="text/css" />


</head>

<body>








    <div class="row  descripcion-1" id="inicio">

        <h1 class="bg-secondary bg-gradient col-12 col-md-12 d-flex justify-content-center align-items-center "
            style="height: 100px;">
            Progress</h1>
        <div class=" d-flex flex-column justify-content-center " id="descripcion">

            <h2 class="d-flex justify-content-center align-items-center  bg-info bg-gradient" style="height: 65px">
                Descripción</h2>
            <p class="col-12 col-md-12 p-4 fs-3 d-flex text-center mx-auto w-50 justify-content-center">
                La barra personalizada de Bootstrap soporta barras apiladas, fondos animados
                , y etiquetas de texto.

            </p>


        </div>

    </div><br><br>

    <div class="d-flex flex-column">



        <div class="alertas mx-auto w-50 d-flex mr-1 flex-column  ">


            <h3>Ejemplo 1</h3>
            <br>


        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
            <br><br>

        </div>


        <div class="alertas mx-auto w-50 d-flex mr-1 flex-column justify-content-center ">


            <h3>Etiquetas</h3>

            <p>Agregue etiquetas de texto a la barra de progreso dentro de la clase .progress-bar.
            </p>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>
            


            <br><br>
        </div>


        <div class="alertas mx-auto w-50 d-flex mr-1 flex-column justify-content-center ">
        
        
            <h3>Backgrounds</h3>
        
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        
           
        
        
        
            <br><br>
        </div>


        <div class="alertas mx-auto w-50 d-flex mr-1 flex-column justify-content-center ">
        
        
            <h3>Animado</h3>
        
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
        
        
        
        
        
            <br><br>
        </div>

           




        


        <div class="contenedor-boton">

            <button class="boton" type="button">
                <a href="../index.html">
                    Página Principal

                </a>
            </button>


        </div>


    </div>







    <script src="../bootstrap/js/bootstrap.bundle.js" type="text/javascript"></script>
</body>


</html>