<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables-Bootstrap</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/stylesComponentes.css" type="text/css" />


</head>

<body>








    <div class="row  descripcion-1" id="inicio">

        <h1 class="bg-secondary bg-gradient col-12 col-md-12 d-flex justify-content-center align-items-center "
            style="height: 100px;">
            Tables</h1>
        <div class=" d-flex flex-column justify-content-center " id="descripcion">

            <h2 class="d-flex justify-content-center align-items-center  bg-info bg-gradient" style="height: 65px">
                Descripción</h2>
            <p class="col-12 col-md-12 p-4 fs-3 d-flex text-center mx-auto w-50 justify-content-center">
            Ejemplos de tablas estilizadas con Bootstrap y utlizando los plugins de javascript.

            </p>


        </div>

    </div><br><br>

    <div class="d-flex flex-column">



        <div class="alertas mx-auto w-50 d-flex mr-1 flex-column  ">


            <h3>Ejemplo 1</h3>
            <br>
            <table class="table table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Jornada</th>
                        <th scope="col">Jugador</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">Goles</th>
                        <th scope="col">Minutos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        
                        <td>Furch</td>
                        <td>Santos</td>    
                        <td>3</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Castillo</td>
                        <td>América</td>
                        <td>1</td>
                        <td>86</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Peralta</td>
                        <td>Chivas</td>
                        <td>1</td>
                        <td>70</td>
                    </tr>

                    <tr>
                        <th scope="row">1</th>
                        <td>Roger</td>
                        <td>América</td>
                        <td>1</td>
                        <td>90</td>
                    </tr>

                    <tr>
                        <th scope="row">1</th>
                        <td>Gignac</td>
                        <td>Tigres</td>
                        <td>2</td>
                        <td>90</td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>Furch</td>
                        <td>Santos</td>
                        <td>1</td>
                        <td>90</td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>Gignac</td>
                        <td>Tigres</td>
                        <td>2</td>
                        <td>76</td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>Aquino</td>
                        <td>León</td>
                        <td>1</td>
                        <td>56</td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>Sosa</td>
                        <td>Pachuca</td>
                        <td>2</td>
                        <td>89</td>
                    </tr>


                    <tr>
                        <th scope="row">2</th>
                        <td>Correa</td>
                        <td>Atlas</td>
                        <td>1</td>
                        <td>90</td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>Furch</td>
                        <td>Santos</td>
                        <td>2</td>
                        <td>90</td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>Gignac</td>
                        <td>Tigres</td>
                        <td>1</td>
                        <td>88</td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>Castillo</td>
                        <td>América</td>
                        <td>1</td>
                        <td>88</td>
                    </tr>


                    <tr>
                        <th scope="row">3</th>
                        <td>Mora</td>
                        <td>Pumas</td>
                        <td>1</td>
                        <td>90</td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>Salas</td>
                        <td>Necaxa</td>
                        <td>1</td>
                        <td>90</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td>Furch</td>
                        <td>Santos</td>
                        <td>2</td>
                        <td>90</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td>Salas</td>
                        <td>Necaxa</td>
                        <td>1</td>
                        <td>90</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td>Castillo</td>
                        <td>América</td>
                        <td>1</td>
                        <td>90</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td>Caraglio</td>
                        <td>Cruz Azul</td>
                        <td>1</td>
                        <td>90</td>
                    </tr>

                </tbody>
            </table>


           

            
            <br><br>

        </div>


        <div class="alertas mx-auto w-50 d-flex mr-1 flex-column justify-content-center ">


            <h3>Ejemplo 2</h3>

            <table class="table table-dark table-bordered border-white  table-hover">
                <thead class="table-dark border-white">
                    <tr>
                        <th scope="col">Compañía</th>
                        <th scope="col">Nombre de Juego</th>
                        <th scope="col">Ventas</th>
                        <th scope="col">Total copias vendidas</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>Grand Theft Auto V</td>
                        <td>578,165 ventas al por menor en Japón</td>
                        <td>20,09 millones</td>

                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>Uncharted 4: A Thief's End</td>
                        <td>190,230 ventas al por menor en Japón</td>
                        <td>15 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>Call of Duty: Black Ops III</td>
                        <td>376,183 ventas al por menor en Japón</td>
                        <td>15,09 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>Red Dead Redemption 2</td>
                        <td>Sin Información</td>
                        <td>13,94 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>Call of Duty: WWII</td>
                        <td>382,650 ventas al por menor en Japón</td>
                        <td>13,40 millones</td>
                    
                    </tr>


                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>Marvel's Spider-Man</td>
                        <td>Sin Información</td>
                        <td>13,20 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>God of War</td>
                        <td>S1,900,000 en los Estados Unidos</td>
                        <td>19.5 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>FIFA 18</td>
                        <td>1,000,000 en Alemania</td>
                        <td>11,80 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>The Last of Us Remastered</td>
                        <td>96,868 ventas al por menor en Japón</td>
                        <td>11,78 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>FIFA 17</td>
                        <td>1,500,000 en Alemania</td>
                        <td>10,94 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>t'The Witcher 3: Wild Hunt</td>
                        <td>Más de 500,000 en Asia (incluyendo Japón)</td>
                        <td>10,80 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>Horizon Zero Dawn</td>
                        <td>915,000 digital ventas worldwide</td>
                        <td>10 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>Final Fantasy XV</td>
                        <td>Más de 1,119,000 en los Estados Unidos</td>
                        <td>8,9 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">PlayStation</th>
                        <td>Gran Turismo Sport</td>
                        <td>484,833 en el Reino Unido</td>
                        <td>8 millones</td>
                    
                    </tr>


                    <tr>
                        <th scope="row">Microsoft Xbox 360</th>
                        <td>Kinect Adventures</td>
                        <td>Sin Información</td>
                        <td>24 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">Microsoft Xbox 360</th>
                        <td>Grand Theft Auto V</td>
                        <td>Sin Información</td>
                        <td>17.79 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">Microsoft Xbox 360</th>
                        <td>Halo 3</td>
                        <td>Sin Información</td>
                        <td>14.5 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">Microsoft Xbox 360</th>
                        <td>The Elder Scrolls V: Skyrim</td>
                        <td>Sin Información</td>
                        <td>13 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">Microsoft Xbox 360</th>
                        <td>Call of Duty: Black Ops</td>
                        <td>Sin Información</td>
                        <td>12 millones</td>
                    
                    </tr>

                    <tr>
                        <th scope="row">Microsoft Xbox 360</th>
                        <td>Halo 4</td>
                        <td>Sin Información</td>
                        <td>6.44 millones en los Estados Unidos</td>
                    
                    </tr>




                   
                </tbody>
            </table>


            
        </div>













        <div class="contenedor-boton">

            <button class="boton" type="button">
                <a href="../index.html">
                    Página Principal

                </a>
            </button>


        </div>


    </div>







    <script src="../bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
   

</body>


</html>